<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "instructor_details" %>
    <%= if @instructor.user.nil?==false %>
      <%= render :partial => "user_details" %>
    <%= end %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'instructor_camps' %>
  </div>
</div>