<div id="footer">
	<div>
	  <% if !current_user.nil? %>
		  <% if current_user.role? :admin %>
		  	<%= link_to 'Home', admin_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
		  <% elsif current_user.role? :instructor %>
		  	<%= link_to 'Home', instructor_dash_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
		  <% else %>
		  	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
		  <% end %>
	  <% end %>
  	  <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	  <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	  <%= link_to 'Privacy Policy', privacy_path %>
	</div>
	<div id="copyright">
	  <br />Webmaster: <%= mail_to "schill1025@gmail.com", "Graham Schilling", :encode => "javascript" %>
	    &nbsp;&nbsp;Copyright 2014
	  <br /><br />
	</div>
</div>