<div class="panel clearfix">
    <h5>Inactive Record Management</h5>
    <ul class="side-nav">
       <li><%= "Inactive Camps: #{@inactive_camps}" %></li>
       <li><%= "Inactive Instructors: #{@inactive_instructors}" %></li>
       <li><%= "Inactive Locations: #{@inactive_locations}" %></li>
       <li><%= "Inactive Families: #{@inactive_families}" %></li>
       <li><%= "Inactive Students: #{@inactive_students}" %></li>
    </ul>
</div>