<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Primary Street:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />

<strong>Secondary Street:&nbsp;&nbsp;</strong> 
  <%= @location.street_2 %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong><br /> 
  <%= "#{@location.city}, #{@location.state} #{@location.zip}" %><br /><br />

<strong>Max Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @location.active ? "Yes" : "No" %><br /><br />

<strong>Map</strong>



<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;